/* Página de estilo */

ul{
    font-family: helvetica;
}

li{
    list-style: circle;
}

.list{
    list-style: square;
}

#msg{
    font-family: monospace;
}

/* Suporte para temas de cores */
.light-theme{
    --bg: var(--green);          /*Cor de tela de fundo*/
    --fontColor: var(--black);   /*Cor da fonte*/
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

/* O seletor :root representa o elemento <html> na página html*/
:root{                         /*Constantes à raíz da páina no arquivo CSS*/
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000; 
}

/*O seletor * é universal e se aplica a todos os elementos da página (exceto quando um seletor de elemento mais específico o substitui)*/

*{
    color: var(--fontColor);
    font-family: helvetica;
}

body{
    background: var(--bg);
}

.btn{
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}

.btn:focus{
    outline-style: none;
}
/*Ao definir a regra de outline-style como none, você elimina um contorno retangular quando o botão é selecionado (recebe foco)*/

